body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
}

header{
    background-color: #ffe4c4;
}
nav {
    height: 80px;
    background: url('spring.jpg') center/100% auto no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

main{
    background-color: #f0ffff;
}

footer{
    background-color: #b8d6b8;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    line-height:150% ;
    text-align: justify;
}

.current{
    text-transform: uppercase;
    background-color: bisque;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div{
    display: grid;
    grid-template-columns: 40% 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
}





